body{
    display: flex;
    padding: 10;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.slider{
    position: relative;
    width: 60%;
    margin: auto;
    overflow: hidden;    
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.475);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}
.slide{
    border-radius: 40px;
    width: 100%;
    height: 350px;
    display: none;
}
img.displaySlide{
    display: block;
    animation: fade 1.5s;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}

@keyframes fade{
    from{ 
         opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}