body{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 68, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0;
    height: 100vh;
    color: rgb(86, 5, 86);
}
#textguess{
    background-color:  rgb(255, 0, 238);
    color: white;
    font-size:2rem;
    text-align: center;
}
#myButton{
    height: 100px;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    background-color: rgb(255, 0, 238);
    border-radius: 20px;
    color: white;
}
#myButton:hover{
    background-color:purple
}