body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 5.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: rgb(58, 206, 255);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: rgb(203, 237, 250);
}
#playerDisplay, #computerDisplay{
    font-size: 2rem;
}
#resultDisplay{
    font-size: 3rem;
}

.greenText, #playerScoreDisplay{
    color: rgb(7, 231, 7);
}
.redText, #computerScoreDisplay{
    color: red;
}
.scoreDisplay{
    font-size: 1.7rem;
}
