body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(0, 0%, 30%);
    transform: scale(0.7);
} 
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(94, 94, 94);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
} 
button:hover{
    background: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}

.opt-btn{
    background-color: hsl(39, 100%, 50%);
}
.opt-btn:hover{
    background-color:hsl(39, 100%, 65%);
}
.opt-btn:active{
    background-color: hsl(39, 100%, 75%)
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgba(48, 48, 48, 0.989);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: rgba(48, 48, 48, 0.989);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}